.idea/*
!.idea/runConfigurations
!.idea/codeStyles
!.idea/copyright
!.idea/sonarlint.xml
target/
*.iml
.classpath
.project
.settings/
classes/
/src/test/resources/crd/examples/
/.factorypath
/allure-results
